<!--  views/partials/footer.ejs starts here  -->
	</div>
  </div>
</div>

<div id ="footer" class="p-2  text-black text-center">
  
  <p>Template provided by <a href="https://www.w3schools.com/bootstrap5/trybs_template1.htm">w3schools</a></p>
  <p> By Olga Timbur</p>
</div>

</body>
</html>
