<!--  views/partials/footer.ejs starts here  -->
	</div>
  </div>
</div>

<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>Footer</p>
  <p>Template provided by <a href="https://www.w3schools.com/bootstrap5/trybs_template1.htm">w3schools</a></p>
</div>

</body>
</html>
