<%- include('../partials/header') %>
 <h5> <%=title%></h5> 

  <div>
<ul class="list-group">
  <li class="list-group-item"> The webpage is designed to represent Moldova and it's culture</li>
  <li class="list-group-item"> For it's framework it was used bootstrap library  in combination with CSS</li>
    <li class="list-group-item"> In order to create the multimple page framewor Nodejs and express was used. </li>  
</ul>
  </div>
   
  
  	
<%- include('../partials/footer') %>