<%- include('../partials/header') %>

<div class="container">
  <!-- heading text -->
  <ul class="image-gallery">
    <li>
     <img src="images/wine.jpeg">
    </li>
   <li>
    <img src="images/sats.jpeg" loading="lazy">
  </li>
     <li>
    <img src="images/mimi2.jpeg" loading="lazy">
  </li>
  <li>
    <img src="images/micare.jpeg" loading="lazy">
  </li>
  <li>
    <img src="images/03.jpeg" loading="lazy">
  </li>
  <li>
    <img src="images/mimi.jpeg" >
  </li>
  <li>
    <img src="images/moldovalandscape.jpeg" >
  </li>
  <li>
    <img src="images/sat.jpeg" >
  </li>
  <li>
    <img src="images/oras.jpeg" >
  </li>  
  <li>
    <img src="images/bus.jpeg" >
  </li>
  <li>
    <img src="images/catedral2.jpeg">
  </li>
  <li>
    <img src="images/grape.jpeg" >
  </li>
  <li>
    <img src="images/sarac.jpeg" >
  </li>
  <li>
    <img src="images/orhei.jpeg" >
  </li>
  </ul>
</div>

<%- include('../partials/footer') %>