<%- include('../partials/header') %>

<style>
 .title{
  text-align: center;
 } 

.box {
  float: right;
  width: 40%;
}
.container{
  margin-left:45px;
}
.box img {
  /* max for the img*/
  width: 100%;
  /* box size*/
  max-width: 500px;
}
.box-text {
  float: left;
  width: 60%;
  
}
 
  }
</style>
<section>
  <br>
  <br>
<h2 class= "title"><%=title%></h2>
  <br>
  <div class="container">
    <div  class="box-text"><p>Moldova, country lying in the northeastern corner 
    of the Balkan region of Europe. Its capital city is Chișinău, 
    located in the south-central part of the country.
  ince its independence in 1991, Moldova has been beset with an array of challenges stemming from four problematic situations. First, the country has sought to establish a viable state where no tradition of self-government and sovereignty had existed before. Second, without a local political tradition, it was difficult for Moldova to agree on a constitution and to find political leaders untainted by association with the highly centralized, authoritarian Soviet Union. Third, the transition from a controlled economy to a free market economy has been rocky. A largely agricultural economy based on state and collective farms had been developed under Soviet rule. When many of these farms were broken up and turned over to individuals after independence, considerable dislocation, loss of productivity, and allegations of corruption resulted. Finally, the economic transition was further impeded by the fact that much of Moldovan industry was located in the separatist region of Transdniestria, which had proclaimed independence from Moldova in 1990, resulting in a brief civil war. Although a cease-fire was declared in 1992, relations remained tense between Moldova and Transdniestria, and Russian troops are still present in the security zone. Transdniestria is also the source of much of Moldova’s electricity, which has been cut off at various times. Thus, Moldova’s road to nationhood has remained bumpy—from the first efforts at nation-building to the country’s pursuit of peace and prosperity in the 21st century.</p></div>
  <div class="box"><img src="images/history.jpeg"> </div>
  </div>
  </section>
