<%- include('../partials/header') %>
<div class="container mt-3">
  <div class="row">
	<div class="col-sm-4">
<h2><%=title%></h2>
  	<h5></h5>
  	<div ><img src="/images/moldovalandscape.jpeg" width=400px height=300px></div>
  	<p>“Never and in no circumstance has it crossed my mind to say that I am anything else than a Romanian from Bessarabia.”</p>
  	<h3 class="mt-4">Sources</h3>
  	<ul class="nav nav-pills flex-column">
    	<li class="nav-item">
      	<a class="nav-link active" href="https://en.wikipedia.org/wiki/Moldova">Wikipedia</a>
    	</li>
    	<li class="nav-item">
      	<a class="nav-link" href="https://moldova.travel/en/7-reasons-to-visit-moldova/">Moldova Travel</a>
    	</li>
  	</ul>
  	<hr class="d-sm-none">
  <img src="images/Portal-Moldova.png" width=500px height=600px>
	</div>
	<div class="col-sm-8">
  	<h2>  </h2>
  	<h5>1. Live between the present technology and the past. </h5>
  	<div >
      <img src="images/oras.jpeg" width=400px height=300px>
      <img src="images/sat.jpeg" width=400px height=300px>
    </div>
    <p> Moldova is a charming country located in Eastern Europe. A country with much of the influence of the soviets but by history part of Romania. If you are in the Capital, Chisinau, life is up to date, but 30 minutes out of the city, we transition back in time. With amazing people and an open mind, Moldova will offer you a unique experience.</p>
    <br>
    <br>
    <br>
  	
  
  	<h5>2.  Moldovan People and Their Hospitality. People make our country special!</h5>
  	<div >
      <img src="images/wine.jpeg" width=400px height=300px>
      <img src="images/micare.jpeg" width=400px height=300px>
    </div>
  	
  	<p>Having decided to visit any corner of Moldova, expect pleasant meetings with open people. Once in a Moldovan village, you will not notice, as you already are sitting at the table and the owner of the house treats you with spicy wine.

The national Moldovan cuisine will surprise you with its sincere simplicity and richness. A savory soup called Zeamă, cooked with homemade noodles and Mămăliga – a hard porridge made from cornmeal, which is being cut with a thread. Can you imagine this? Mămăliga is served with Moldovan cheese, sour cream and Tocană. Plăcinte are prepared from a thin dough with a variety of fillings: cabbage, cottage cheese, apple, pumpkin and cherries. The warm and hospitable region of the Moldovan people will conquer you, as well as the national cuisine</p>
    
<%- include('../partials/footer') %>